{% extends "::base.html.twig" %}

{% block title %}WitsFrontBundle:Informations:travelingToAvenus{% endblock %}

{% block body %}
<h1>Welcome to the Informations:travelingToAvenus page</h1>
{% endblock %}
