{% extends "::base.html.twig" %}
{% block title %}-Program{% endblock %}
{% block body %}

    {% for prog in program %}
        <h1>{{ prog.name }}</h1>
        {{ prog.content | raw }}
    {% else %}
        <h1 class="text-danger">Program not founded</h1>
    {% endfor %}

{% endblock %}
