<div class="col-md-3">
    <!-- START WIDGET CLOCK -->
    <div class="widget widget-warning widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-controls">
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip"
               data-placement="left" title="Remove Widget"><span
                        class="fa fa-times"></span></a>
        </div>
        <div class="widget-buttons widget-c3">
            <div class="col">
                <a href="#"><span class="fa fa-clock-o"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-bell"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-calendar"></span></a>
            </div>
        </div>
    </div>
    <!-- END WIDGET CLOCK -->

    {{ render(controller('WitsFrontBundle:ImportantDates:showImportantDates')) }}

    {{ render(controller('WitsFrontBundle:Conference:allConference')) }}
    <!-- START GOOGLE MAP WITH MARKER -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Google Map With Markers</h3>
        </div>
        <div class="panel-body panel-body-map">
            <div id="google_ptm_map" style="width: 100%; height: 300px;"></div>
        </div>
    </div>
    <!-- END GOOGLE MAP WITH MARKER -->
</div>