<div class="col-md-3">
    <!-- START WIDGET CLOCK -->
    <div class="widget widget-warning widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-controls">
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip"
               data-placement="left" title="Remove Widget"><span
                        class="fa fa-times"></span></a>
        </div>
        <div class="widget-buttons widget-c3">
            <div class="col">
                <a href="#"><span class="fa fa-clock-o"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-bell"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-calendar"></span></a>
            </div>
        </div>
    </div>
    <!-- END WIDGET CLOCK -->

    {{ render(controller('WitsFrontBundle:ImportantDates:showImportantDates', {'originalRequest': app.request}))  }}

    <!-- PREVIOUS-->
    {{ render(controller('WitsFrontBundle:Conference:showAllConference', {'originalRequest': app.request}))  }}
    <!-- END PREVIOUS WITS-->
</div>