<div class="col-md-3">
    <!-- START WIDGET CLOCK -->
    <div class="widget widget-warning widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-controls">
            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip"
               data-placement="left" title="Remove Widget"><span
                        class="fa fa-times"></span></a>
        </div>
        <div class="widget-buttons widget-c3">
            <div class="col">
                <a href="#"><span class="fa fa-clock-o"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-bell"></span></a>
            </div>
            <div class="col">
                <a href="#"><span class="fa fa-calendar"></span></a>
            </div>
        </div>
    </div>
    <!-- END WIDGET CLOCK -->

    <!-- CONTACTS IMPORTANT DATE -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">IMPORTANT DATES</h3>
        </div>
        <div class="panel-body list-group list-group-contacts">
            <a href="#" class="list-group-item">
                <span class="contacts-title">OPENING</span>
                <p>26 APRIL 14:20</p>
            </a>
            <a href="#" class="list-group-item">
                <span class="contacts-title">ACTIVITY</span>
                <p>27 APRIL 10:00 TO 18:00</p>
            </a>
            <a href="#" class="list-group-item">
                <span class="contacts-title">CLOSING</span>
                <p>28 APRIL 18:00</p>
            </a>
        </div>
    </div>
    <!-- END IMPORTANT DATE -->

    <!-- PREVIOUS-->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">PREVIOUS WITS</h3>
        </div>
        <div class="panel-body list-group list-group-contacts">
            <a href="#" class="list-group-item">
                <span class="contacts-title">WITS TITLE</span>
                <p>2017</p>
            </a>
            <a href="#" class="list-group-item">
                <span class="contacts-title">WITS TITLE</span>
                <p>2016</p>
            </a>
            <a href="#" class="list-group-item">
                <span class="contacts-title">WITS TITLE</span>
                <p>2015</p>
            </a>
        </div>
    </div>
    <!-- END PREVIOUS WITS-->
    <!-- START GOOGLE MAP WITH MARKER -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Google Map With Markers</h3>
        </div>
        <div class="panel-body panel-body-map">
            <div id="google_ptm_map" style="width: 100%; height: 300px;"></div>
        </div>
    </div>
    <!-- END GOOGLE MAP WITH MARKER -->
</div>